@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.navbar-icon {
  height: 50px;
}

#section-prayer {
  height: 100%;
  overflow: auto;
}

#prayertimepage-div {
  padding-top: 0;
  overflow-y: auto;
  height: 100vh;
}

#textdiv {
  margin-top: 80px;
}

#textdiv-2 {
  margin-top: 15px;
}

@media (max-width: 700px) {
  #gradient-image {
    display: none;
  }
}

#error-pic {
  height: 25vw;
}

#error-section {
  height: 100vh;
  padding-top: 0;
  padding-bottom: 0;
}

#chapter-text-div {
  padding: 0;
  overflow: auto;
  height: 95vh;
}

#hadith-image {
  height: 250px;
  margin-bottom: 0px;
}

#div-that-holds-hadith {
  background-color: #f1f0f1;
  padding: 75px;
  border-radius: 100px;
}

.helper-tag {
  cursor: pointer;
}

.go-back {
  margin-top: 25px;
}

.father {
  position: relative;
}

.service-button {
  bottom: 0;
  position: absolute;
  margin-bottom: 44px;
}

.contact-section {
  height: 100vh;
}

.contact-image {
  flex-direction: row-reverse;
}

.back-home-button {
  margin-top: 25px;
}

img {
  pointer-events: none;
}
